$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;

$box-shandow: rgba(100, 100, 111, 0,2)0px 7px 29px 0px;

$header-heigt: 8rem;
$header-shrink-heigt: 5rem;
$border-radius: 30px;
$moble-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat",sans-serif;