div {
    background-color: nane;
}
span{
    background-color:black ;
}
div{
    background-color: nane;
}
span{
    background-color: black;
}
div{
    background-color: nane;
}
span{
    background-color: black;
}
div{
    background-color:nane;
}
span{
    background-color: black
}